---
import { getLangFromUrl, useTranslations } from '@shared/lib/i18n';
import { Language } from '@shared/config/i18n';

const langCode = getLangFromUrl(new URL(Astro.request.url));
const lang = langCode === 'en' ? Language.ENGLISH : Language.SPANISH;
const t = useTranslations(lang);

const currentYear = new Date().getFullYear();
---

<footer
	class="opacity-80 px-5 min-[375px]:pl-4 md:pl-0 mt-16 mx-auto container lg:max-w-4xl md:max-w-2xl mb-2 flex justify-center"
>
	<div
		class="rounded-lg max-w-screen-xl mx-auto md:flex md:w-full md:items-center md:justify-between py-4"
	>
		<span class="text-sm sm:text-center text-zinc-800/90 dark:text-zinc-200/90"
			>© {currentYear}
			<a href="https://github.com/sandovaldavid" class="hover:underline">David Sandoval</a>. {
				t('footer.rights')
			}
		</span>
		<ul
			class="flex flex-wrap items-center justify-center mt-3 text-sm font-medium dark:text-white/90 sm:mt-0"
		>
			<a href={`/${langCode}/#about-me`} class="hover:underline me-4 md:me-6"
				>{t('footer.about')}</a
			>
			<a id="contacto" href="mailto:sandovaldavid2201@gmail.com" class="hover:underline"
				>{t('footer.contact')}</a
			>
		</ul>
	</div>
</footer>
