---
import ExperienceItem from './ExperienceItem.astro';
import { getExperienceData } from '@entities/experience';
import { getLangFromUrl, useTranslations } from '@shared/lib/i18n';
import { Language } from '@shared/config/i18n';

const langCode = getLangFromUrl(new URL(Astro.request.url));
const lang = langCode === 'en' ? Language.ENGLISH : Language.SPANISH;
const t = useTranslations(lang);

const EXPERIENCE = getExperienceData(t);
---

<ol class="relative mt-16">
	{
		EXPERIENCE.map(experience => (
			<li>
				<ExperienceItem {...experience} />
			</li>
		))
	}
</ol>
