---
import CodeIcon from '@assets/icons/Code.astro';
import ProfileCheckIcon from '@assets/icons/ProfileCheck.astro';
import StarIcon from '@assets/icons/Star.astro';
import Layout from '@app/layouts/Layout.astro';
import { Experience } from '@widgets/experience';
import { SectionContainer } from '@shared/ui';
import BriefCaseIcon from '@assets/icons/Briefcase.astro';
import { Projects } from '@widgets/projects';
import { TitleSection } from '@shared/ui';
import { AboutMe } from '@widgets/about-me';
import { Badges } from '@widgets/badges';
import { Hero } from '@widgets/hero';
---

<Layout
	title="David Sandoval Portfolio - Web Developer"
	description="Hire David Sandoval, web and mobile developer. Specialized in creating unique applications."
	img_preview="/projects/portfolio.webp"
>
	<main class="px-4">
		<div class="py-16 md:py-26 min-h-screen flex flex-col justify-around">
			<SectionContainer class="mb-4">
				<Hero />
			</SectionContainer>
			<SectionContainer id="badges">
				<TitleSection>
					<StarIcon class="size-7" />
					Badges
				</TitleSection>
				<Badges />
			</SectionContainer>
		</div>
		<div class="space-y-24">
			<SectionContainer id="experience">
				<TitleSection>
					<BriefCaseIcon class="size-8" />
					Work Experience
				</TitleSection>
				<Experience />
			</SectionContainer>

			<SectionContainer id="projects">
				<TitleSection>
					<CodeIcon class="size-7" />
					Projects
				</TitleSection>
				<Projects />
			</SectionContainer>

			<SectionContainer id="about-me">
				<TitleSection>
					<ProfileCheckIcon class="size-8" />
					About me
				</TitleSection>
				<AboutMe />
			</SectionContainer>
		</div>
	</main>
</Layout>
