---
import { CertificationBadge, getBadgesData } from '@entities/badge';
import { getLangFromUrl, useTranslations } from '@shared/lib/i18n';

const lang = getLangFromUrl(new URL(Astro.request.url));
const t = useTranslations(lang);
const badges = getBadgesData(t);
---

<ul class="flex flex-wrap items-center justify-center gap-4">
	{
		badges.map(badge => (
			<li>
				<CertificationBadge src={badge.image} alt={badge.label} href={badge.link} />
			</li>
		))
	}
</ul>
