---
import CodeIcon from '@assets/icons/Code.astro';
import ProfileCheckIcon from '@assets/icons/ProfileCheck.astro';
import StarIcon from '@assets/icons/Star.astro';
import Layout from '../../layouts/Layout.astro';
import Experience from '../../components/Experience.astro';
import SectionContainer from '../../components/SectionContainer.astro';
import BriefCaseIcon from '@assets/icons/Briefcase.astro';
import Projects from '../../components/Projects.astro';
import TitleSection from '../../components/TitleSection.astro';
import AboutMe from '../../components/AboutMe.astro';
import Badges from '../../components/Badges.astro';
import Hero from '../../components/Hero.astro';
---

<Layout
	title="David Sandoval Portfolio - Desarrollador Web"
	description="Contrata a David Sandoval, desarrollador web y mobile. Especializado en crear aplicaciones únicas."
	img_preview="/projects/portfolio.webp"
>
	<main class="px-4">
		<div class="py-16 md:py-26 min-h-screen flex flex-col justify-around">
			<SectionContainer class="mb-4">
				<Hero />
			</SectionContainer>
			<SectionContainer id="badges">
				<TitleSection>
					<StarIcon class="size-7" />
					Badges
				</TitleSection>
				<Badges />
			</SectionContainer>
		</div>
		<div class="space-y-24">
			<SectionContainer id="experience">
				<TitleSection>
					<BriefCaseIcon class="size-8" />
					Experiencia laboral
				</TitleSection>
				<Experience />
			</SectionContainer>

			<SectionContainer id="projects">
				<TitleSection>
					<CodeIcon class="size-7" />
					Proyectos
				</TitleSection>
				<Projects />
			</SectionContainer>

			<SectionContainer id="about-me">
				<TitleSection>
					<ProfileCheckIcon class="size-8" />
					Sobre mí
				</TitleSection>
				<AboutMe />
			</SectionContainer>
		</div>
	</main>
</Layout>
